
<html>
    <head>
        {% block head %}
        <title>Base</title>
        {% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'mysocial/css/soc.css' %}">
    </head>
    <body>
    <header>
        <div class="header">
        <div class="header__section">
            <div class="header__item headerlogo">
                <!--<a href="/"><img class="Imag" src="{% static 'mysocial/Images/rofl1.png' %}"></a>-->
                <a style="text-decoration: none" href="/"><span style="color:#fff12d;">Nursultan</span>Network</a>
            </div>

				<div class="headerButton">
                    {% if user.is_authenticated %}
                    <div class="headerButton">
                        <p class="are_logged">Вы вошли как, <span class="are_logged_right">{{ user.get_username }}</span>
                    <a class='logo' href="/logout">Выйти</a>
                    {% else %}
                    <a class='logi' href="/login">Войти</a>
                    <a class='regon' href="/register">Регистрация</a>
                    {% endif %}
				</div>
		</div>
            </div>
    </header>

    <div class="container">

    <div class="art">
        <ul class="ssilki">
            <li><a href="/profile">Моя страница</a></li>
            <li><a href="/users/admin">Друзья</a></li>
			<li><a href="/users">Пользователи</a></li>
            <li><a href="/musicc">Музыка</a></li>
            <li><a href="/feed">Новости</a></li>
            <li><a href="/games">Игры</a></li>
        </ul>
		<hr>
    </div>

        <div class="content">
            <!--{% if messages %}-->
            <!--{% for message in messages %}-->
                  <!--<div class="alert alert-{{ message.tags }}">-->
                    <!--{{ message }}-->
                  <!--</div>-->
            <!--{% endfor %}-->
          <!--{% endif %}-->
            <!--{% if user.is_authenticated %}-->
            <!--<a href="{% url 'com_new' %}" class="top-menu">Добавить...</a>-->
            <!--{% endif %}-->
            {% block content %}
            {% endblock %}
        </div>
    <footer>
        <div class="footerp">
            <p>&copy; 2018 RoflanCompany</p>
            <p>Почта: killka_m@mail.ru</p>
            <p>Номер: +7(707)+101+06+20</p>
            <p>Instagram: killka_m</p>
        </div>
    </footer>
    </div>
</body>
</html>
