{% extends 'mysocial/base.html' %}

{% block head %}
<title>Список друзей</title>
{% endblock %}

{% block content %}

<h2>Friends</h2>
        {% for friend in friends %}
            <a href="{% url 'com_detail' pk=friend.pk %}">
                <h3>{{ friend.username }}</h3>
            </a>
            <a href="{% url 'com_detail' operation='remove' pk=friend.pk %}">
            <button type="button" class="btn btn-default">Remove Friend</button>
            </a>
        {% endfor %}

{% endblock %}